* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App {
    width: 1200px;
    padding-top: 20px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    opacity: 0;
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin: 30px 0;
    display: flex;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin-right: 5px;
    border: 1px solid teal;
    cursor: pointer;
    height: 30px;
}

.page__current {
    border: 2px solid #ffa500;
    font-weight: bold;
}

.navbar {
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    background: #9a9a9a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    flex-grow: 1;
}

.navbar__links {
    margin-left: 15px;
    display: flex;
}

.navbar__link {
    margin-right: 10px;
    color: #3771a5;
    text-decoration: none;
}

.navbar__link:last-child {
    margin-right: 0;
}

.post-btns {
    display: flex;
}